/* 
Variables
                                                                                                                        
*/

$base-background: #0D0D0D;
$base-text-color: #D6D6D6;
$contrast-background: #3a1d3a;
$contrast-text-color: #D6D6D6;
$accent-background: #b67723;
$accent-text-color: #D6D6D6;
$test-color: red;
$body-font: Lora,
serif,
sans-serif;
$body-font-size: 1.6;
$title-font: Nunito,
sans-serif,
serif;
$strongweight: 700;
$callout-font: Courier,
serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Lora', serif;