/* 
Variables
                                                                                                                        
*/

$base-background: #0D0D0D;
$base-text-color: #D6D6D6;

$contrast-background: #33045E;
$contrast-text-color: #D6D6D6;

$accent-background: #648500;
$accent-text-color: #D6D6D6;

$test-color: red;

$body-font: Lato;
$body-font-size: 1.6;
$title-font: Lustria;
$strongweight: 700;