/* 

Content Styles

*/

html {
    // sets up the base 10 for font-size and rem-fallback mixins
    font-size: 62.5%;
}

body {
    background-color: $base-background;
    color: $base-text-color;
    font-family: $body-font, sans-serif;
    @include font-size($body-font-size);
}

article {
    @include rem-fallback(margin, 1.5);
    @include rem-fallback(padding, 1.5);
    max-width: 50%;
    @include rem-fallback(padding, 5);
}

* {
    @include selection {
        background: $base-text-color;
        color: #fff;
    }
}

p {
    @include rem-fallback(margin, 0, 0, 0, 2.4);
    @include rem-fallback(padding, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font, serif;
    font-weight: 500;
    @include rem-fallback(margin, 0, 0, 1.6);
    padding: 0;
}

h1 {
    @include font-size($body-font-size+2);
}

h2 {
    @include font-size($body-font-size+1.4);
}

h3 {
    @include font-size($body-font-size+0.8);
}

h4 {
    @include font-size($body-font-size+0.4);
}

h5 {
    @include font-size($body-font-size+0.2);
}

h6 {
    @include font-size($body-font-size);
}

.centered {
    margin: 0 auto;
    text-align: center;
}

.border {
    border: 1px solid $base-text-color;
}

.textContent {
    min-height: 40em;
    margin-top: 10em;
    margin-bottom: 7em;
}

#bio {
    margin-top: 20em;
}

.contentWrap {
    width: 90%;
    height: 90%;
}

.bioHeadshot {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 4px solid #fff;
    @include media("<=tablet") {
        width: 100px;
        height: 100px;
    }
}

.contentHeading {
    margin-top: 20px;
    @include rem-fallback(font-size, 4);
    text-align: center;
    font-family: $title-font, serif;
}

.contentSubhead {
    margin-top: -5px;
    margin-bottom: 5px;
    padding-bottom: 3px;
    @include rem-fallback(font-size, 2.0);
    text-align: center;
    font-family: $title-font, serif;
}

.divbar {
    border-style: solid;
    border-color: $base-text-color;
    width: 60%;
    @include media("<=tablet") {
        width: 80%;
    }
}

.bioDesc {
    text-align: left;
    margin-top: 25px;
    @include rem-fallback(font-size, 1.8);
    padding-bottom: 25px;
    @include media(">=tablet") {
        margin-left: 10%;
    }
}

.desc {
    text-align: center;
    margin-top: 25px;
    @include rem-fallback(font-size, 1.8);
    padding-bottom: 25px;
}

.techContainer {
    overflow: hidden;
    @include clearfix();
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    margin: auto;
}

.techItem {
    // float: left;
    display: inline-block;
    @include rem-fallback(padding, 1);
    @include rem-fallback(font-size, 10);
    @include clearfix();
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

ul {
    li {
        list-style-type: square;
        list-style-position: inside;
    }
}

.skillList {
    text-align: left;
    padding-left: 20%;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    @include media("<=tablet") {
        padding: 0;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

.sectionHead {
    border-bottom: 1px solid $base-text-color;
    border-top: 1px solid $base-text-color;
    font-family: $callout-font, serif;
    @include rem-fallback(font-size, 5);
}

.contactIcons {
    i {
        display: inline;
        @include rem-fallback(font-size, 5);
    }
    a:not(:first-child) {
        padding-left: 30px;
    }
    a {
        text-decoration: none;
        color: $base-text-color;
    }
    background-color: $contrast-background;
    color: $contrast-text-color;
    @include rem-fallback(padding, 1);
    @include rem-fallback(margin-bottom, 1);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top: 1px solid $accent-text-color;
    max-width: 50%;
    @include media("<=tablet") {
        max-width: 70%;
    }
}

.finalMessage {
    font-family: $title-font;
    background-color: $accent-background;
    color: $accent-text-color;
    @include rem-fallback(padding, 1);
    @include rem-fallback(margin-top, 1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    max-width: 50%;
    @include media("<=tablet") {
        max-width: 70%;
        text-align: left;
    }
}

.colorPop {
    color: $accent-background;
    @include rem-fallback(font-size, 2);
}

footer {
    border-top: 1px solid $accent-background;
    min-height: 10%;
    @include rem-fallback(padding, 1);
}

.content {
    z-index: 10;
    top: 0;
    left: 0;
    position: absolute;
}

#wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
}