#bulbDiv {
    position: relative;
    z-index: -10;
}

.bulbBackground {
    z-index: -1;
}

.bulbImg {
    top: 0;
    left: 0;
    position: fixed;
    max-width: 100%;
    height: auto;
}

.changeThis {
    z-index: 1;
}

.hideThis {
    display: none;
}