#bulbDiv {
    position: fixed;
    z-index: -99;
    top: 0;
    left: 0;
}

#bulbStandby {
    display: none;
}

.bulbImg {
    max-width: 100%;
    height: auto;
}

.changeThis {
    top: 0;
    left: 0;
    z-index: -1;
    position: relative;
}