/*

Author: Erin Meaker
Project: Personal portfolio site

*/
/*
CSS Reset

http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Float Clearing */
.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
  content: "";
  display: table; }

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
  clear: both;
  content: "";
  display: table; }

/*

Mixins

Mixin tutorial
https: //scotch.io/tutorials/how-to-use-sass-mixins

Some more useful mixins
http: //zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/

*/
/* 
Variables
                                                                                                                        
*/
/* 

Media Queries 

*/
/*
Navbar
*/
.anchor {
  display: block;
  height: 10em;
  margin-top: -10em;
  visibility: hidden; }

.container {
  position: relative;
  margin: 0 auto;
  width: 94%;
  max-width: 1100px; }

.content {
  position: relative;
  padding-top: 20%; }
  .content p {
    margin-bottom: 10px; }

#header {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #0D0D0D;
  color: #D6D6D6; }
  #header h1 {
    position: absolute;
    top: 0;
    left: 0; }

#nav {
  position: absolute;
  right: 0; }
  #nav ul li {
    float: left;
    list-style-type: none; }
    #nav ul li a {
      display: block;
      color: #D6D6D6;
      text-decoration: none;
      padding: 0 10px; }

#myName {
  border-top: none;
  border-bottom: none; }

@media (max-width: 768px) {
  #header .container {
    width: 100%; }
  #header h1 {
    left: 3%; }
  #nav {
    width: 100%;
    top: 60px; }
    #nav:before {
      content: '\2630';
      display: block;
      position: absolute;
      right: 3%;
      top: -50px;
      line-height: 40px; }
    #nav ul {
      background: #0D0D0D;
      width: 100%; }
      #nav ul li {
        float: none; }
        #nav ul li a {
          padding: 10px 3%;
          line-height: 20px;
          border-top: 1px solid #333; }
  #nav ul {
    transition: 350ms;
    -moz-transition: 350ms;
    -webkit-transition: 350ms;
    transform: perspective(600) rotate3d(0, 0, 0, 0);
    -moz-transform: perspective(600) rotate3d(0, 0, 0, 0);
    -webkit-transform: perspective(600) rotate3d(1, 0, 0, -90deg);
    transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -webkit-transform-origin: 50% 0; }
  #nav.open ul {
    transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: perspective(600) rotate3d(0, 0, 0, 0); } }

/* 

Content Styles

*/
html {
  font-size: 62.5%; }

body {
  background-color: #0D0D0D;
  color: #D6D6D6;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem; }

article {
  margin: 15px;
  margin: 1.5rem;
  padding: 15px;
  padding: 1.5rem;
  max-width: 50%;
  padding: 50px;
  padding: 5rem; }

* ::-moz selection {
  background: #D6D6D6;
  color: #fff; }

* ::selection {
  background: #D6D6D6;
  color: #fff; }

p {
  margin: 0px 0px 0px 24px;
  margin: 0rem 0rem 0rem 2.4rem;
  padding: 0px;
  padding: 0rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lustria, serif;
  font-weight: 500;
  margin: 0px 0px 16px;
  margin: 0rem 0rem 1.6rem;
  padding: 0; }

h1 {
  font-size: 36px;
  line-height: 54px;
  font-size: 3.6rem;
  line-height: 5.4rem; }

h2 {
  font-size: 30px;
  line-height: 45px;
  font-size: 3rem;
  line-height: 4.5rem; }

h3 {
  font-size: 24px;
  line-height: 36px;
  font-size: 2.4rem;
  line-height: 3.6rem; }

h4 {
  font-size: 20px;
  line-height: 30px;
  font-size: 2rem;
  line-height: 3rem; }

h5 {
  font-size: 18px;
  line-height: 27px;
  font-size: 1.8rem;
  line-height: 2.7rem; }

h6 {
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem; }

.centered {
  margin: 0 auto;
  text-align: center; }

.border {
  border: 1px solid #D6D6D6; }

.textContent {
  min-height: 40em;
  margin-top: 10em;
  margin-bottom: 7em; }

#bio {
  margin-top: 20em; }

.contentWrap {
  width: 90%;
  height: 90%; }

.bioHeadshot {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid #fff; }
  @media (max-width: 768px) {
    .bioHeadshot {
      width: 100px;
      height: 100px; } }

.contentHeading {
  margin-top: 20px;
  font-size: 40px;
  font-size: 4rem;
  text-align: center;
  font-family: Lustria, serif; }

.contentSubhead {
  margin-top: -5px;
  margin-bottom: 5px;
  padding-bottom: 3px;
  font-size: 20px;
  font-size: 2rem;
  text-align: center;
  font-family: Lustria, serif; }

.divbar {
  border-style: solid;
  border-color: #D6D6D6;
  width: 60%; }
  @media (max-width: 768px) {
    .divbar {
      width: 80%; } }

.desc {
  text-align: center;
  margin-top: 25px;
  font-size: 18px;
  font-size: 1.8rem;
  padding-bottom: 25px; }

.techContainer {
  overflow: hidden;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  margin: auto; }
  .techContainer:before, .techContainer:after {
    content: "";
    display: table; }
  .techContainer:after {
    clear: both; }

.techItem {
  display: inline-block;
  padding: 10px;
  padding: 1rem;
  font-size: 100px;
  font-size: 10rem; }
  .techItem:before, .techItem:after {
    content: "";
    display: table; }
  .techItem:after {
    clear: both; }

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

ul li {
  list-style-type: square;
  list-style-position: inside; }

.skillList {
  text-align: left;
  padding-left: 20%;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px; }
  @media (max-width: 768px) {
    .skillList {
      padding: 0;
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1; } }

.sectionHead {
  border-bottom: 1px solid #D6D6D6;
  border-top: 1px solid #D6D6D6;
  font-family: Courier, serif;
  font-size: 50px;
  font-size: 5rem; }

.contactIcons {
  background-color: #33045E;
  color: #D6D6D6;
  padding: 10px;
  padding: 1rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top: 1px solid #D6D6D6;
  max-width: 50%; }
  .contactIcons i {
    display: inline;
    font-size: 50px;
    font-size: 5rem; }
  .contactIcons a:not(:first-child) {
    padding-left: 30px; }
  .contactIcons a {
    text-decoration: none;
    color: #D6D6D6; }
  @media (max-width: 768px) {
    .contactIcons {
      max-width: 70%; } }

.finalMessage {
  font-family: Lustria;
  background-color: #648500;
  color: #D6D6D6;
  padding: 10px;
  padding: 1rem;
  margin-top: 10px;
  margin-top: 1rem;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  max-width: 50%; }
  @media (max-width: 768px) {
    .finalMessage {
      max-width: 70%;
      text-align: left; } }

.colorPop {
  color: #648500;
  font-size: 20px;
  font-size: 2rem; }

footer {
  border-top: 1px solid #648500; }

.content {
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute; }

#bulb {
  position: relative;
  z-index: -2;
  top: 0;
  left: 0; }
  #bulb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; }

#zero {
  z-index: -2; }

.active {
  z-index: -1;
  top: 0;
  left: 0; }

.hideImg {
  opacity: 0; }

/*# sourceMappingURL=styles.css.map */